<% if current_user %>
  <li><%= link_to t('nav.main.papers'), talks_path %></li>
  <li><%= link_to t('nav.main.proposed_speakers'), proposed_speakers_path %></li>
  <li><%= link_to t('nav.main.profile'), profile_path %></li>
  <% if current_user.mentor? %>
    <li><%= link_to t('nav.main.mentor'), mentor_root_path %></li>
  <% end %>
  <% if current_user.staff? %>
    <li><%= link_to t('nav.main.admin'), admin_root_path %></li>
  <% end %>
<% end %>
<li><%= link_to t('nav.main.guide'), guide_path %></li>
<li><%= link_to t('nav.main.mentorship'), mentorship_path %></li>
<li><%= link_to t('nav.main.coc'), coc_path %></li>
