<h1><%= t('.title') %></h1>

<div class="profile">
  <%= simple_form_for @user, :url => profile_path do |f| %>
    <%= f.error_notification %>

    <div class="inputs">
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :bio %>
    </div>

    <div class="actions">
      <%= f.button :submit, class: 'btn btn-info' %>
    </div>
  <% end %>
</div>
