<h1>My profile</h1>

<div class="profile">
  <table class="table">
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th>Email</th>
      <th>GitHub</th>
      <th>Twitter</th>
    </tr>
    <tr>
      <td>
        <%= image_tag(avatar_url(@user, 64)) %>
      </td>
      <td><%= @user.name %></td>
      <td><%= @user.email %></td>
      <td>
        <% if @user.connected_with_github? %>
          <%= github_link(@user.github_handle) %>
        <% else %>
          <a class="btn-auth btn-github" href="/auth/github">connect <b>GitHub</b></a>
        <% end %>
      </td>
      <td>
        <% if @user.connected_with_twitter? %>
          <%= twitter_link(@user.twitter_handle) %>
        <% else %>
          <a class="btn-auth btn-twitter" href="/auth/twitter">connect <b>Twitter</b></a>
        <% end %>
      </td>
    </tr>
  </table>

</div>
<div class="bio">
  <h2>Bio</h2>

  <% if @user.has_bio? %>
    <%= markdown(@user.bio) %>
  <% else %>
    Tell us more about yourself!
  <% end %>
</div>

<%= link_to "Edit profile and bio", edit_profile_path, class: 'btn btn-info' %>
