<h1>My profile</h1>

<div class="profile">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>GitHub</th>
      <th>Twitter</th>
    </tr>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.email %></td>
      <td><%= @user.github_handle %></td>
      <td><%= @user.twitter_handle %></td>
    </tr>
  </table>

</div>
<div class="bio">
  <h2>Bio</h2>

  <% if @user.has_bio? %>
    <%= markdown(@user.bio) %>
  <% else %>
	Tell us more about yourself!    
  <% end %>
</div>

<%= link_to "Edit profile and bio", edit_profile_path, class: 'btn btn-success' %>
