<h1><%= t('.title') %></h1>

<div class="proposed_speakers">
  <% @open_calls.each do |call| %>
    <div class="rules">
      <h3><%= call.title %></h3>
      <p>Open until <%= human_date_with_timezone(call.closes_at) %></p>
      <p><%= call.description %></p>
      <p><%= link_to t('.propose_speaker'), new_call_proposed_speaker_path(call_id: call.id), class: 'button' %></p>
    </div>

    <% @proposed_speakers.select{|ps| ps.call == call }.each do |proposed_speaker| %>
      <article>
      <h3><%= proposed_speaker.speaker_name %></h3>
      <h4><%= proposed_speaker.speaker_email %></h4>
      <strong><%= t('activerecord.models.attributes.proposed_speakers.created_at') %></strong>: <%= proposed_speaker.created_at.strftime('%B %d, %Y') %><br />
      <strong><%= t('activerecord.models.attributes.proposed_speakers.reason') %></strong>: <p title="<%= proposed_speaker.reason %>"><%= truncate(proposed_speaker.reason, length: 300) %></p>
      <%= link_to t('.remove_proposal'), proposed_speaker, data: { confirm: 'Are you sure?' }, method: :delete, class: 'button tiny alert' %>
      </article>
    <% end %>
  <% end %>

  <% if @proposed_speakers.empty? %>
    <%= t('.no_proposed_speaker_yet') %>
  <% end %>
</div>
