<h1>
  <%= t('.title') %>
  <small><%= t('.subtitle', count: current_user.user_paper_ratings.count) %></small>
</h1>

<dl class="sub-nav">
  <dt>Sort:</dt>
  <% if params[:sort] %>
    <dd><%= link_to('Unsorted', {}) %></dd>
    <dd class="active"><a href="#">By score</a></dd>
  <% else %>
    <dd class="active"><a href="#">Unsorted</a></dd>
    <dd><%= link_to('By score', { :sort => true }) %></dd>
  <% end %>
</dl>

<div class="papers">
  <% if @papers.empty? %>
    No submissions yet.
  <% else %>
    <table class="table table-header-rotated">
      <thead>
        <tr>
          <th><%= t('activerecord.models.attributes.paper.rank') %></th>
          <th><%= t('activerecord.models.attributes.paper.time_slot') %></th>
          <th><%= t('activerecord.models.attributes.paper.id') %></th>
          <th><%= t('activerecord.models.attributes.paper.title') %></th>
          <th class="rotate"><span><%= t('activerecord.models.attributes.paper.created_at') %></span></th>
          <th class="rotate"><span><%= t('activerecord.models.attributes.paper.updated_at') %></span></th>
          <th class="rotate"><span><%= t('activerecord.models.attributes.paper.user') %></span></th>
          <th class="rotate"><span><%= t('activerecord.models.attributes.paper.rated_by_you') %></span></th>
          <th class="rotate"><span><%= t('activerecord.models.attributes.paper.notice_by_you') %></span></th>
          <th class="rotate"><span><%= t('activerecord.models.attributes.paper.number_of_ratings') %></span></th>
          <th class="rotate"><span><%= t('activerecord.models.attributes.paper.score') %></span></th>
        </tr>
      </thead>
      <tbody>
        <% @papers.each_with_index do |paper,index| %>
          <tr class="<%= 'selected' if paper.selected? %>">
            <td class="rank"><%= index + 1 %></td>
            <td class="time-slot"><%= paper.formatted_time_slot %></td>
            <td class="id"><%= paper.id[0..5] %></td>
            <th class="title"><%= link_to truncate(paper.title, length: 60), paper %></th>
            <td><%= paper.formatted_created_at %></td>
            <td><%= paper.formatted_updated_at %></td>
            <td><%= link_to(paper.user.name, profile_path(paper.user)) if paper.call.deanonymized? %></td>
            <td><%= "✔" if paper.rated_by?(current_user) %></td>
            <td><%= "✔" if paper.note_attached_by?(current_user) %></td>
            <td score="ratings"><%= paper.user_paper_ratings.count %></td>
            <td class="score"><%= paper.formatted_score %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<%= link_to 'Export (CSV)', export_admin_papers_path(format: 'csv'), class: 'button' %>
<%= render "admin/main/nav_bar" %>
