<h1>All papers</h1>

<div class="papers">
  <% if @papers.empty? %>
    No submissions yet.
  <% else %>
    <table class="table">
      <tr>
        <th>Title</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>Author</th>
      </tr>

      <% @papers.each do |paper| %>
        <tr class="<%= 'selected' if paper.selected? %>">
          <td class="title"><%= link_to truncate(paper.title, length: 60), paper %></td>
          <td><%= paper.created_at.strftime('%b %d, %Y') %></td>
          <td><%= paper.updated_at.strftime('%b %d, %Y') if paper.updated? %></td>
          <td><%# paper.user_name %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>

<%= link_to "Users", admin_users_path, class: 'btn btn-success' %>
<%= link_to "Papers", admin_papers_path, class: 'btn btn-success' %>
