<h1><%= t('.title') %></h1>

<% if params[:sort] %>
  <%= link_to('unsort', {}, { :class => 'button' }) %>
<% else %>
  <%= link_to('sort by score', { :sort => true }, { :class => 'button' }) %>
<% end %>

<div class="papers">
  <% if @papers.empty? %>
    No submissions yet.
  <% else %>
    <table class="table">
      <tr>
        <th><%= t('activerecord.models.attributes.paper.time_slot') %></th>
        <th><%= t('activerecord.models.attributes.paper.id') %></th>
        <th><%= t('activerecord.models.attributes.paper.title') %></th>
        <th><%= t('activerecord.models.attributes.paper.created_at') %></th>
        <th><%= t('activerecord.models.attributes.paper.updated_at') %></th>
        <th><%= t('activerecord.models.attributes.paper.user') %></th>
        <th><%= t('activerecord.models.attributes.paper.rated_by_you') %></th>
        <th><%= t('activerecord.models.attributes.paper.notice_by_you') %></th>
        <th><%= t('activerecord.models.attributes.paper.number_of_ratings') %></th>
        <th><%= t('activerecord.models.attributes.paper.score') %></th>
      </tr>

      <% @papers.each do |paper| %>
        <tr class="<%= 'selected' if paper.selected? %>">
          <td class="time-slot"><%= paper.time_slot %></td>
          <td class="id"><%= paper.id[0..5] %></td>
          <td class="title"><%= link_to truncate(paper.title, length: 60), paper %></td>
          <td><%= paper.created_at.strftime('%b %d, %Y') %></td>
          <td><%= paper.updated_at.strftime('%b %d, %Y') if paper.updated? %></td>
          <td><%= link_to(paper.user.name, profile_path(paper.user)) if paper.call.deanonymized? %></td>
          <td><%= "✔" if paper.rated_by?(current_user) %></td>
          <td><%= "✔" if paper.note_attached_by?(current_user) %></td>
          <td><%= paper.user_paper_ratings.count %></td>
          <td><%= paper.score %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>

<%= link_to 'Export (CSV)', export_admin_papers_path(format: 'csv'), class: 'button' %>
<%= render "admin/main/nav_bar" %>
