<h1><%= t('.title') %></h1>

<div class="papers">
  <% if @proposals.empty? %>
    No submissions yet.
  <% else %>
    <table class="table">
      <tr>
        <th><%= t('activerecord.models.attributes.paper.time_slot') %></th>
        <th><%= t('activerecord.models.attributes.paper.id') %></th>
        <th><%= t('activerecord.models.attributes.paper.title') %></th>
        <th><%= t('activerecord.models.attributes.paper.created_at') %></th>
        <th><%= t('activerecord.models.attributes.paper.updated_at') %></th>
      </tr>

      <% @proposals.each do |proposal| %>
        <tr class="<%= 'selected' if proposal.selected? %>">
          <td class="time-slot"><%= proposal.talk_time_slot %></td>
          <td class="id"><%= proposal.id[0..5] %></td>
          <td class="title"><%= link_to truncate(proposal.talk_title, length: 60), proposal.talk %></td>
          <td><%= proposal.created_at.strftime('%b %d, %Y') %></td>
          <td><%= proposal.updated_at.strftime('%b %d, %Y') if proposal.updated? %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
