<%= simple_form_for @talk do |f| %>
  <%= f.error_notification %>

  <div class="inputs row">
    <div class="small-8 columns">
      <h2><%= t('.proposal') %></h2>
      <%= f.input :title %>
      <%= f.input :public_description, required: true, input_html: {rows: 5} %>
      <%= f.input :private_description, required: false, input_html: {rows: 5} %>

      <%= f.input :time_slot, :collection => Settings.conference.time_slots %>

      <%= f.input :mentor_name %>
      <%= f.input :mentors_can_read %>
    </div>
    <div class="small-4 columns">
      <h2><%= t('profile') %></h2>
      <%= f.fields_for :user do |uf| %>
        <%= uf.input :gender, collection: [:male, :female, :unspecified], include_blank: '(leave empty)' %>
        <%= uf.input :bio %>
        <%= uf.input :mentor %>
      <% end %>
    </div>
  </div>
  <hr>
  <div>
    <% if @talk.calls.all?(&:open?) %>
      <%= f.association :calls, collection: @open_calls, as: :check_boxes, label: t('.i-want-to-submit-this-to-the-following-conferences') %>
    <% end %>
  </div>
  <hr>

  <div class="actions">
    <% if @talk.new_record? then %>
      <% label = raw t('simple_form.hints.paper.code_of_conduct_acceptance') % { :code_of_conduct_link => link_to(t('simple_from.hints.paper.code_of_conduct_text'), Settings.conference.coc_link, :target => '_blank') } %>
      <%= f.input :terms_and_conditions, as: :boolean, required: true, label: label %>
    <% end %>
    <%= f.button :submit, class: 'button' %>
  </div>
<% end %>
