<% unless @proposal.call.anonymous? %>
  <h4><%= t('activerecord.models.attributes.bio') %></h4>
  <p><strong><%= t('activerecord.models.attributes.user.name') %>:</strong>
  <%= @proposal.user.name %></p>
  <p><strong><%= t('activerecord.models.attributes.user.email') %>:</strong>
  <%= @proposal.user.email %></p>
  <p><strong><%= t('activerecord.models.attributes.user.github_handle') %>:</strong>
  <%= @proposal.user.github_handle %></p>
  <p><strong><%= t('activerecord.models.attributes.user.twitter_handle') %>:</strong>
  <%= @proposal.user.twitter_handle %></p>
  <p><strong><%= t('activerecord.models.attributes.user.bio') %>:</strong>
  <%= @proposal.user.bio %></p>
<% end %>

<h3><%= t('admin.admin_section') %></h3>
<% unless @proposal.call.open? %>
  <% if @proposal.call.anonymous? then %>
    <h4><%= t('admin.votes') %></h4>
    <%= simple_form_for @user_proposal_rating, url: admin_user_proposal_rating_path(@proposal) do |f| %>
      <% RatingDimension.all.each do |rating_dimension| %>
        <h6><%= rating_dimension.name %></h6>
        <%= f.fields_for :ratings, f.object.rating_for_rating_dimension(rating_dimension) do |rating_form| %>
          <%= rating_form.hidden_field :id %>
          <%= rating_form.hidden_field :rating_dimension_id %>
          <%= rating_form.input :vote, as: :votes %>
        <% end %>
      <% end %>
      <%= f.submit 'Vote', class: 'button' %>
      <%= f.submit 'Vote and go to papers list', class: 'button' %>
      <%= f.submit 'Vote and go to next paper', class: 'button' %>
    <% end %>
  <% end %>

  <h4><%= t('admin.attach_personal_note') %></h4>
  <%= simple_form_for current_user.note_for_proposal(@proposal), :url => note_admin_proposal_path(@proposal) do |f| %>
    <%= f.input :content, required: true, input_html: {rows: 10} %>
    <%= f.submit class: 'button' %>
  <% end %>

  <h4><%= t('admin.select_paper') %></h4>
  <%= simple_form_for @proposal, :url => admin_proposal_path(@proposal) do |f| %>
    <%= f.input :selected %>
    <%= f.submit class: 'button' %>
  <% end %>
<% end %>
