<h4><%= t('activerecord.models.attributes.bio') %></h4>
<p><strong><%= t('activerecord.models.attributes.user.name') %>:</strong>
  <%= talk.user.name %></p>
<p><strong><%= t('activerecord.models.attributes.user.email') %>:</strong>
  <%= talk.user.email %></p>
<p><strong><%= t('activerecord.models.attributes.user.github_handle') %>:</strong>
  <%= talk.user.github_handle %></p>
<p><strong><%= t('activerecord.models.attributes.user.twitter_handle') %>:</strong>
  <%= talk.user.twitter_handle %></p>
<p><strong><%= t('activerecord.models.attributes.user.bio') %>:</strong>
  <%= talk.user.bio %></p>
