<% unless @proposal.call.anonymous? %>
  <h4><%= t('activerecord.models.attributes.bio') %></h4>
  <p><strong><%= t('activerecord.models.attributes.user.name') %>:</strong>
  <%= @proposal.user.name %></p>
  <p><strong><%= t('activerecord.models.attributes.user.email') %>:</strong>
  <%= @proposal.user.email %></p>
  <p><strong><%= t('activerecord.models.attributes.user.github_handle') %>:</strong>
  <%= @proposal.user.github_handle %></p>
  <p><strong><%= t('activerecord.models.attributes.user.twitter_handle') %>:</strong>
  <%= @proposal.user.twitter_handle %></p>
  <p><strong><%= t('activerecord.models.attributes.user.bio') %>:</strong>
  <%= @proposal.user.bio %></p>
<% end %>
