<h1><%= t('.title') %></h1>

<% if @open_calls.empty? %>
  <p>There are currently no open calls for proposals.</p>
<% else %>
  <h2>Open Calls</h2>
  <% @open_calls.each do |call| %>
    <div class="rules">
      <h3><%= call.title %></h3>
      <p>Open until <%= call.closes_at %></p>
      <p><%= call.description %></p>
      <p><%= link_to 'New proposal', new_call_paper_path(call_id: call.id), class: 'button' %></p>
      <p><%= link_to t('.propose_speaker'), new_call_proposed_speaker_path(call_id: call.id), class: 'button' %></p>
    </div>
  <% end %>
<% end %>

<%= link_to 'Go to proposals', papers_path, class: 'button' %>
<%= link_to 'Tell us more about yourself', profile_path, class: 'button' %>
