<h1><%= t('.title', name: current_user.name) %></h1>

<% if @open_calls.empty? %>
  <p>There are currently no open calls for proposals.</p>
<% else %>
  <h2>Open Calls</h2>
  <% @open_calls.each do |call| %>
    <div class="rules">
      <h3><%= call.title %></h3>
      <p>Open until <%= human_date_with_timezone(call.closes_at) %></p>
      <p><%= call.description %></p>
      <p>
        <%= link_to 'New proposal', new_call_talk_path(call_id: call.id), class: 'button' %>
        <%= link_to t('.propose_speaker'), new_call_proposed_speaker_path(call_id: call.id), class: 'button' %>
      </p>
    </div>
  <% end %>
<% end %>
