<%= simple_form_for [@call, @paper] do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :title %>
    <%= f.input :private_description %>
    <%= f.input :public_description, :required => false %>

    <div class="control-group select required">
      <div class="select required control-label" for="paper_track"><strong>Track</strong></div>
      <div class="controls"><p class="help-block">Select the conference track.</p>
        JRubyConf EU
      </div>
    </div>

    <%= f.input :time_slot, :collection => Settings.conference.time_slots %>

    <%= f.input :mentor_name %>
  </div>

  <div class="actions">
    <%= f.button :submit, class: 'button' %>
  </div>
<% end %>
