<%= simple_form_for @paper do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :title, :hint => "If you already know the title that's great! Otherwise, sum up your proposal in few words here." %>
    <%= f.input :private_description, :hint => "Tell us as much as you can about the talk. We would appreciate a link to any of your recorded talks but it is not mandatory. This description will not appear on the website, it's for you and us. You can use markdown for better reading experience.<br><br> If you want to be a participant in one of our #{link_to 'fights', 'http://blog.wrocloverb.com/post/7892841588/the-main-point-of-wroc-love-rb-conference-is-to'}, do not hesitate to mention it. If you know a villain thata would be a good opponent for you, share his/her name with us." %>
    <%= f.input :public_description, :required => false, :hint => "This will be your talk description posted on the conference website. You're encouraged to use markdown here. But don't bother to fill in this field unless you're chosen." %>
  </div>

  <div class="actions">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>
