<%= simple_form_for @paper do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :title, :hint => "If you already know the title that's great! Otherwise, sum up your proposal in few words here." %>
    <%= f.input :private_description, :hint => "Tell us as much as you can about the talk. To keep the CFP process anonymous, please do not include any personal indentifiable information. This description will not appear on the website, it's for you and us. You can use Markdown for better reading experience." %>
    <%= f.input :public_description, :required => false, :hint => "This will be your talk description posted on the conference website. You're encouraged to use Markdown here. Please keep personal information to your profile." %>
  </div>

  <div class="actions">
    <%= f.button :submit, class: 'btn btn-info' %>
  </div>
<% end %>
