<%= form_for(@paper) do |f| %>
  <% if @paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paper.errors.count, "error") %> prohibited this paper from being saved:</h2>

      <ul>
      <% @paper.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    
    <div class="clearfix">
      <%= f.label :email %>
      <div class="input">
        <div class="input-prepend">
          <span class="add-on">@</span>
          <%= f.text_field :email %>
        </div>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :bio %><br />
      <div class="input">
        <%= f.text_area :bio %>
      </div>
    </div>
    
    <div class="clearfix">
     <%= f.label :description %><br />
      <div class="input">
        <%= f.text_area :description %>
        <span class="help-inline">
          Tell us as much as you can about the talk.
          I you already know the title that's greate!
          Otherwise, no problem!
        </span>
      </div>
    </div>

    <div class="actions">
      <%= f.submit("Submit your propsal", :class => "btn primary") %>
    </div>
  </fieldset>
<% end %>
