<h1><%= t('.title') %></h1>

<div class="papers">
  <% @open_calls.each do |call| %>
    <div class="rules">
      <h3><%= call.title %></h3>
      <p>Open until <%= human_date_with_timezone(call.closes_at) %></p>
      <p><%= call.description %></p>
      <p><%= link_to 'New proposal', new_call_paper_path(call_id: call.id), class: 'button' %></p>
    </div>

    <% @papers.each do |paper| %>
      <article>
        <h3><%= paper.title %></h3>
        <h5><%= t('activerecord.models.attributes.papers.created_at') %> <%= paper.created_at.strftime('%B %d, %Y') %></h5>
        <div>
          <%= link_to 'show', paper %>
          <% if paper.editable? %>
            <%= link_to 'edit', edit_paper_path(paper) %>
            <%= link_to 'destroy', paper, data: { confirm: 'Are you sure?' }, method: :delete %>
          <% end %>
        </div>
        <hr>
      </article>
    <% end %>
  <% end %>

  <% if @papers.empty? %>
    No submissions yet? Create one now and give us a solid reason to choose you!
  <% end %>
</div>

