<h1>Listing papers</h1>

<table>
  <tr>
    <th>Email & Created at</th>
    <th>Bio & Description</th>
    <th></th>
  </tr>

<% @papers.each do |paper| %>
  <tr>
    <td><%= paper.email %><br /><%= paper.created_at %></td>
    <td>
      <%= simple_format paper.bio %><br /><br />
      <%= simple_format paper.description %>
    </td>
    <td>
      <%= link_to 'Show', paper %>
      <%= link_to 'Edit', edit_paper_path(paper) %>
      <%= link_to 'Destroy', paper, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />
