<h1><%= @paper.title %></h1>

<div class="papers">
  <h4><%= @paper.track %></h4>

  <div class="time-slot"><%= @paper.time_slot %></div>

  <div class="descriptions">
    <%= markdown @paper.private_description %>

    <% if @paper.public_description.present? %>
      <hr>
      <%= markdown @paper.public_description %>
    <% end %>
  </div>
</div>

<% if current_user %>
  <% if current_user.can_edit_paper?(@paper) %>
    <%= link_to 'Edit', edit_paper_path(@paper), class: 'btn btn-success' %>
  <% end %>
<% end %>
