<h1><%= @paper.title %></h1>

<div class="papers">
  <div class="time-slot"><%= @paper.time_slot %></div>

  <div class="descriptions">
    <h4><%= t('activerecord.models.attributes.paper.private_description') %></h4>
    <%= markdown @paper.private_description %>

    <% if @paper.public_description.present? %>
      <hr>
      <h4><%= t('activerecord.models.attributes.paper.public_description') %></h4>
      <%= markdown @paper.public_description %>
    <% end %>
  </div>
</div>

<% if current_user %>
  <% if current_user.can_edit_paper?(@paper) && @paper.editable? %>
    <%= link_to 'Edit', edit_paper_path(@paper), class: 'button' %>
  <% else %>
    <h3><%= t('feedback.title') %></h3>
    <%= simple_form_for Feedback.new, url: mentor_feedback_path(@paper) do |f| %>
      <%= f.input :feedback, as: :text, required: true, input_html: {rows: 10} %>
      <%= f.submit t('feedback.submit'), class: 'button' %>
    <% end %>
    <p>
      <%= t('feedback.explanation') %>
    </p>
  <% end %>
  <% if current_user.staff? %>
    <h3><%= t('admin.admin_section') %></h3>
    <%= simple_form_for @paper, :url => admin_paper_path(@paper) do |f| %>
      <%= f.input :selected %>
      <%= f.submit class: 'button' %>
    <% end %>
  <% end %>
<% end %>
