<%= simple_form_for [@call, @proposal] do |f| %>
  <%= f.error_notification %>

  <div class="inputs row">
    <div class="small-8 columns">
      <h2><%= t('.proposal') %></h2>
      <%= f.input :talk_title %>
      <%= f.input :talk_public_description, required: true, input_html: {rows: 5} %>
      <%= f.input :talk_private_description, required: false, input_html: {rows: 5} %>

      <%= f.input :talk_time_slot, :collection => Settings.conference.time_slots %>

      <%= f.input :talk_mentor_name %>
      <%= f.input :talk_mentors_can_read %>
    </div>
    <div class="small-4 columns">
      <h2><%= t('profile') %></h2>
      <%= f.fields_for :user do |uf| %>
        <%= uf.input :gender, collection: [:male, :female, :unspecified], include_blank: '(leave empty)' %>
        <%= uf.input :bio %>
        <%= uf.input :mentor %>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <% if @proposal.new_record? then %>
      <%= f.input :terms_and_conditions, as: :boolean, required: true, label: false do %>
        <%= f.input_field :terms_and_conditions, as: :boolean, required: true %>
        <%= f.label :terms_and_conditions do %>
          <%= raw t('simple_form.hints.paper.code_of_conduct_acceptance') % { :code_of_conduct_link => link_to(t('simple_from.hints.paper.code_of_conduct_text'), :coc, :target => '_blank') } %>
        <% end %>
      <% end %>
    <% end %>
    <%= f.button :submit, class: 'button' %>
  </div>
<% end %>
