<h1>All users</h1>

<div class="profiles">
  <table class="table">
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th>Email</th>
      <th>GitHub</th>
      <th>Twitter</th>
      <th>Staff</th>
      <th>Bio</th>
      <th>Proposal</th>
      <th>Created at</th>
    </tr>

    <% for user in @users %>
      <tr>
        <td><%= image_tag(avatar_url(user, 32)) %></td>
        <td><%= user.name %></td>
        <td class="muted"><%= user.email %></td>
        <td><%= github_link(user.github_handle) %></td>
        <td><%= twitter_link(user.twitter_handle) %></td>
        <td><%= "✔" if user.staff? %></td>
        <td><%= "✔" if user.has_bio? %></td>
        <td><%= "✔" if user.has_proposal? %></td>
        <td><%= user.created_at.strftime("%B %d, %Y") %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to "Users", admin_users_path, class: 'btn btn-success' %>
<%= link_to "Papers", admin_papers_path, class: 'btn btn-success' %>
