<h1><%= t('.title') %></h1>

<div class="profiles">
  <table class="table">
    <tr>
      <th><%= t('activerecord.models.attributes.user.avatar') %></th>
      <th><%= t('activerecord.models.attributes.user.name') %></th>
      <th><%= t('activerecord.models.attributes.user.email') %></th>
      <th><%= t('activerecord.models.attributes.user.github_handle') %></th>
      <th><%= t('activerecord.models.attributes.user.twitter_handle') %></th>
      <th><%= t('activerecord.models.attributes.user.staff') %></th>
      <th><%= t('activerecord.models.attributes.user.bio') %></th>
      <th><%= t('activerecord.models.attributes.user.proposal') %></th>
      <th><%= t('activerecord.models.attributes.user.created_at') %></th>
    </tr>

    <% for user in @users %>
      <tr>
        <td><%= image_tag(avatar_url(user, 32)) %></td>
        <td><%= user.name %></td>
        <td class="muted"><%= user.email %></td>
        <td><%= github_link(user.github_handle) %></td>
        <td><%= twitter_link(user.twitter_handle) %></td>
        <td><%= "✔" if user.staff? %></td>
        <td><%= "✔" if user.has_bio? %></td>
        <td><%= "✔" if user.has_proposal? %></td>
        <td><%= user.created_at.strftime("%B %d, %Y") %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to 'Export (CSV)', export_admin_users_path(format: 'csv') %>

<%= link_to "Users", admin_users_path, class: 'btn btn-success' %>
<%= link_to "Papers", admin_papers_path, class: 'btn btn-success' %>
