<!DOCTYPE html>
<html>
  <head>
    <title>Call for Papers | wroc_love.rb 2013</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">wroc_love.rb 2013</a>
            <%= render "main/nav" %>
            <%= render "main/profile" %>
        </div>
      </div>
    </div>

    <div class="container">
      <%= render"main/alerts" %>
      <%= yield %>
      <%= render "main/footer" %>
    </div>
  </body>
</html>
