<!DOCTYPE html>
<html>
  <head>
    <title>Call for Papers | eurucamp 2013</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=294933543947037";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      // Google Analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24474861-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      // Google +1
      (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
      // Twitter
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
    <div class="container container-narrow">
      <div class="masthead">
        <%= link_to 'http://2013.eurucamp.org', class: 'root' do %>
          <%= image_tag('logo_small.png') %>
        <% end %>
        <p class="claim">
          european Ruby Camp taking place on <strong>16-18th August 2013</strong> in Berlin, Germany. Go to <%= link_to 'main eurucamp site', 'http://2013.eurucamp.org/' %>.
        </p>
      </div>
      <hr>
      <%= render"main/alerts" %>

      <div class="jumbotron">
        <h1>Show us what you've got</h1>
        <p class="lead">
          Submit your proposal and impress us. Be creative!<br>
        
          CFP for eurucamp core ended on <strong>15th May 2013</strong> (CEST).
          However you can still submit a proposal to <a href="http://jrubyconf.eu">JRubyConf EU</a> until <strong>31st May</strong>.
        </p>

        <%= yield %>

        <div class="socialmedia">
          <div class="wrapper">
            <div class="fb-like" data-href="http://cfp.eurucamp.org" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
          </div>
          <div class="wrapper">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://cfp.eurucamp.org" data-text="eurucamp call for papers ends on 15th May 2013. Submit yours now!" data-via="eurucamp" data-related="eurucamp">Tweet</a>
          </div>
          <div class="wrapper">
            <div class="g-plusone" data-size="medium" data-href="http://cfp.eurucamp.org"></div>
          </div>
        </div>

      </div>
      <%= render "main/footer" %>
    </div>
  </body>
</html>
