<!DOCTYPE html>
<html>
  <head>
    <title>Call for Papers | wroc_love.rb 2013</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container container-narrow">
      <div class="masthead">
        <%= render "main/nav" %>
        <h3 class="muted">wroc_love.rb 2013 Call For Papers</h3>
        <p>
          Three day, single track, community run conference in <%= link_to 'Wrocław, Poland', 'http://en.wikipedia.org/wiki/Wroc%C5%82aw' %> happenning on <strong>1-3rd March 2013</strong>. See also <%= link_to 'main conference site', 'http://www.wrocloverb.com' %>.
        </p>
      </div>
      <hr>
      <%= render"main/alerts" %>

      <div class="jumbotron">
        <h1>Show us what you've got</h1>
        <p class="lead">
          Submit your proposal and impress us. Be creative!<br>
          And hurry up, call for papers <strong>ends on January 31st!</strong>
        </p>

        <%= yield %>
      </div>
      <%= render "main/footer" %>
    </div>
  </body>
</html>
